<!DOCTYPE html>
<html lang="it">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
{% include katex.html %}
</head>

<body class="libertinus">

<header>
<h1>{{ page.title }}</h1>
<p class="author">
{{ page.author }}<br/>
{{ page.date }}
</p>
</header>

<div>
<hr>
</div>

<main>
<article>
{{ content }}
</article>
</main>

</body>

</html>
